@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.text-center {
  text-align: center;
}

h1, h3 {
  color: #333;
}

.table {
  margin-top: 20px;
  color: #333;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
  padding: 8px;
}

hr {
  margin: 20px 0;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
